<div class="container d-flex flex-column align-items-center justify-content-center">
  <h1>URL Shorterner</h1>
  <img src="/pictures/clip.png" alt="img-1" class="img-1">
  <div class="my-4">
    <form action="/shortenURL/new" method="POST" class="input-form d-flex flex-column">
      <label for="original-url" ></label>
      <input type="text" name="inputURL" class="input-bar m-3" placeholder="input URL here">
      <button class="btn btn-outline-primary button-shorten">Shorten</button>
    </form>
  </div>
</div>